img.float-left {
  margin: -5px -6px;
  position: relative;
  left: 370px;
  bottom: 120px;
}
ul {
  list-style-type: none;
  position: relative;
  left: -5px;
  font-size: 20px;
}
body {
  color: #084298;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

h5 {
  font-size: 20px;
}
h1 {
  color: #42445c;
}
h4,
h5,
.btn-search,
.weather-forecast-temperature {
  font-weight: 900;
}
a {
  text-decoration: none;
}
.city,
.temperature,
.city-text {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 30px;
}
.container {
  margin: 20px auto;
  max-width: 600px;
  margin-bottom: 5px;
  padding: 15px auto;
  border-radius: 10px;
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}
.city-text {
  margin-left: 30px;
  font-size: 20px;
  margin-top: 40px;
}
.fa-search {
  font-size: 27px;
  margin-left: 10px;
}
.fa-search:hover {
  cursor: pointer;
}
#location-button {
  margin-left: 10px;
  font-size: 27px;
}
#location-button:hover {
  cursor: pointer;
}
.city {
  margin-top: 20px;
  margin-left: 30px;
}
.paragraph-time {
  margin-left: 30px;
  margin-top: 15px;
  font-size: 20px;
  line-height: 32px;
}
#weather-description {
  text-transform: capitalize;
}
.feels-like {
  margin-left: 400px;
  margin-top: -77px;
  color: #084298;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
}
.temperature {
  margin-top: -170px;
  margin-left: 330px;
  font-size: 40px;
}
.fas {
  color: #42445c;
}
#icon {
  margin-left: -120px;
  margin-top: -5px;
}
.unit {
  font-size: 15px;
  position: relative;
  top: -15px;
}
#forecast-celsius {
  color: black;
  font-weight: bold;
}

.card {
  background-image: linear-gradient(
    120deg,
    hsl(271, 100%, 92%) 0%,
    #a2ccf7 100%
  );
  border: none;
  border-radius: 25px;
  box-shadow: rgba(43, 70, 110, 0.4);
  margin-bottom: 20px;
  text-align: center;
  margin-left: 0.5px;
  margin-right: 0.5px;
  padding: 0;
  font-size: 15px;
}
.card-body:hover {
  opacity: 0.4;
}
h4,
h5 {
  font-size: 15px;
}
h4 {
  padding-bottom: 0;
}
h5 {
  padding-top: 0;
}

img.forecast-icon {
  display: block;
  margin: 0 auto;
  padding: 0;
}

.footer {
  text-align: Center;
  font-family: monospace;
  font-size: 15px;
  color: #42445c;
  font-weight: normal;
}
.gitHubLink {
  text-decoration: none;
}
.temperature .active {
  color: #084298;
  cursor: default;
  text-decoration: none;
}
