img.float-left {
  margin: -5px -6px;
  position: relative;
  left: 370px;
  bottom: 120px;
}
ul {
  list-style-type: none;
  position: relative;
  left: -5px;
  font-size: 15px;
  margin-top: -25px;
}
body {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

h5 {
  font-size: 20px;
}
h1 {
  color: #fff;
}
h4,
h5,
.btn-search,
.weather-forecast-temperature {
  font-weight: 900;
}
a {
  text-decoration: none;
}
.city,
.temperature,
.city-text {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 25px;
}
.container {
  display: block;
  margin: 0 auto;
}
.weather-app {
  margin: 10px auto;
  max-width: 500px;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 10px;
  background: linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83));
}
.city-text {
  margin-left: 30px;
  font-size: 15px;
  margin-top: 20px;
}
.fa-search {
  font-size: 22px;
  margin-left: 0;
}
.fa-search:hover {
  cursor: pointer;
}
#location-button {
  margin-left: 0;
  font-size: 22px;
}
#location-button:hover {
  cursor: pointer;
}
.city {
  margin-top: 15px;
  margin-left: 30px;
}
.paragraph-time {
  margin-left: 30px;
  margin-top: 5px;
  font-size: 15px;
  line-height: 25px;
}
#weather-description {
  text-transform: capitalize;
}
.temperature-icon {
  margin-top: 0;
}
.feels-like {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 15px;
}
.temperature {
  margin-top: -190px;
  margin-left: 230px;
  font-size: 35px;
}
.fas {
  color: #fff;
}
#icon {
  margin-left: -225px;
  margin-top: -15px;
}
.unit {
  font-size: 15px;
  position: relative;
  top: -22px;
  left: -2px;
}
#forecast-celsius {
  color: #fff;
  font-weight: bold;
}

.card {
  border: none;
  background: linear-gradient(to right, rgb(173, 103, 145), rgb(122, 36, 168));

  border-radius: 25px;
  box-shadow: rgba(43, 70, 110, 0.4);
  margin-left: 0.5px;
  margin-right: 0.5px;
  text-align: center;
  padding: 0;
  margin-bottom: 20px;
}
.card-body {
  padding-bottom: 0;
  padding-top: 0;
}
h4 {
  padding-bottom: 0;
}
h5 {
  padding-top: 0;
}
.card-body:hover {
  opacity: 0.6;
}
h4,
h5 {
  font-size: 15px;
  text-align: center;
  margin: 0;
  padding: 0;
}

img.forecast-icon {
  display: block;
  margin: 0 auto;
  padding: 0;
}

.footer {
  text-align: Center;
  font-family: monospace;
  font-size: 15px;
  color: #42445c;
  font-weight: normal;
}
.gitHubLink {
  text-decoration: none;
}
.temperature .active {
  color: #fff;
  cursor: default;
  text-decoration: none;
}
